<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exercise.gmsys.mapper.AssignmentMapper">
  <resultMap id="BaseResultMap" type="com.exercise.gmsys.model.Assignment">
    <id column="TID" jdbcType="INTEGER" property="TID" />
    <result column="TCOUNT" jdbcType="DOUBLE" property="TCOUNT" />
    <result column="TRTIME" jdbcType="TIMESTAMP" property="TRTIME" />
    <result column="BID" jdbcType="INTEGER" property="BID" />
    <result column="DEPARTID" jdbcType="INTEGER" property="DEPARTID" />
  </resultMap>
  <sql id="Base_Column_List">
    TID, TCOUNT, TRTIME, BID, DEPARTID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from translate
    where TID = #{TID,jdbcType=INTEGER}
  </select>


  <select id="findAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from translate
  </select>

  <select id="findByKeyword" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from translate
    WHERE TID LIKE "%"#{keyword}"%"
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from translate
    where TID = #{TID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.exercise.gmsys.model.Assignment">
    insert into translate (TID, TCOUNT, TRTIME, 
      BID, DEPARTID)
    values (#{TID,jdbcType=INTEGER}, #{TCOUNT,jdbcType=DOUBLE}, #{TRTIME,jdbcType=TIMESTAMP}, 
      #{BID,jdbcType=INTEGER}, #{DEPARTID,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.exercise.gmsys.model.Assignment">
    insert into translate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="TID != null">
        TID,
      </if>
      <if test="TCOUNT != null">
        TCOUNT,
      </if>
      <if test="TRTIME != null">
        TRTIME,
      </if>
      <if test="BID != null">
        BID,
      </if>
      <if test="DEPARTID != null">
        DEPARTID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="TID != null">
        #{TID,jdbcType=INTEGER},
      </if>
      <if test="TCOUNT != null">
        #{TCOUNT,jdbcType=DOUBLE},
      </if>
      <if test="TRTIME != null">
        #{TRTIME,jdbcType=TIMESTAMP},
      </if>
      <if test="BID != null">
        #{BID,jdbcType=INTEGER},
      </if>
      <if test="DEPARTID != null">
        #{DEPARTID,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.exercise.gmsys.model.Assignment">
    update translate
    <set>
      <if test="TCOUNT != null">
        TCOUNT = #{TCOUNT,jdbcType=DOUBLE},
      </if>
      <if test="TRTIME != null">
        TRTIME = #{TRTIME,jdbcType=TIMESTAMP},
      </if>
      <if test="BID != null">
        BID = #{BID,jdbcType=INTEGER},
      </if>
      <if test="DEPARTID != null">
        DEPARTID = #{DEPARTID,jdbcType=INTEGER},
      </if>
    </set>
    where TID = #{TID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.exercise.gmsys.model.Assignment">
    update translate
    set TCOUNT = #{TCOUNT,jdbcType=DOUBLE},
      TRTIME = #{TRTIME,jdbcType=TIMESTAMP},
      BID = #{BID,jdbcType=INTEGER},
      DEPARTID = #{DEPARTID,jdbcType=INTEGER}
    where TID = #{TID,jdbcType=INTEGER}
  </update>
</mapper>