<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>集团化资产管理系统 by www.mycodes.net</title>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.tabfont01 {	
	font-family: "宋体";
	font-size: 9px;
	color: #555555;
	text-decoration: none;
	text-align: center;
}
.font051 {font-family: "宋体";
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	line-height: 20px;
}
.font201 {font-family: "宋体";
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
}
.button {
	font-family: "宋体";
	font-size: 14px;
	height: 37px;
}
html { overflow-x: auto; overflow-y: auto; border:0;} 
-->
.atten {font-size:12px;font-weight:normal;color:#F00;}
</style>
    <link rel="icon" type="image/png" th:href="@{/assets/i/favicon.png}" href="/static/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" th:href="@{/assets/i/app-icon72x72@2x.png}" href="/static/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" th:href="@{/assets/css/amazeui.min.css}" href="../../static/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" th:href="@{/assets/css/admin.css}" href="../../static/assets/css/admin.css">
    <link rel="stylesheet" th:href="@{/assets/css/app.css}" href="../../static/assets/css/app.css">
    <script th:src="@{/assets/js/echarts.min.js}" src="../../static/assets/js/echarts.min.js"></script>
    <link href="../../static/css/css.css" th:href="@{/css/css.css}" rel="stylesheet" type="text/css" />
<script type="text/JavaScript">

</script>
    <link rel="stylesheet" rev="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" type="text/css" media="all" />
</head>
<SCRIPT language=JavaScript>
function sousuo(){
	window.open("gaojisousuo.htm","","depended=0,alwaysRaised=1,width=800,height=510,location=0,menubar=0,resizable=0,scrollbars=0,status=0,toolbar=0");
}
function selectAll(){
	var obj = document.fom.elements;
	for (var i=0;i<obj.length;i++){
		if (obj[i].name == "delid"){
			obj[i].checked = true;
		}
	}
}

function unselectAll(){
	var obj = document.fom.elements;
	for (var i=0;i<obj.length;i++){
		if (obj[i].name == "delid"){
			if (obj[i].checked==true) obj[i].checked = false;
			else obj[i].checked = true;
		}
	}
}

function link(){
    document.getElementById("fom").action="${pageContext.request.contextPath}/files/addcaigou.html";
   document.getElementById("fom").submit();
}
function tishi()
{
  var a=confirm('数据库中保存有该人员基本信息，您可以修改或保留该信息。');
  if(a!=true)return false;
  window.open("冲突页.htm","","depended=0,alwaysRaised=1,width=800,height=400,location=0,menubar=0,resizable=0,scrollbars=0,status=0,toolbar=0");
}

function check()
{
document.getElementById("aa").style.display="";
}
</SCRIPT>

<body  class="ContentBody" data-type="index">

<div th:replace="index::header">
</div>

<div th:replace="index::list">
</div>

        <div class="tpl-content-wrapper">
            
            <form th:action="@{/purchase/update}" method="post"  name="form" target="sypost" >
				<div class="MainDiv">
				<table width="99%" border="0" cellpadding="0" cellspacing="0" class="CContent">
				  <tr>
				      <th class="tablestyle_title" >采购单基本信息修改</th>
				  </tr>
				  <tr>
				    <td class="CPanel">
						
						<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
						<tr><td align="left">
						<input type="button" name="Submit" value="保存" class="button" onclick="alert('保存成功！');"/>　
							
							<input type="button" name="Submit2" value="返回" class="button" onclick="window.history.go(-1);"/>
						</td></tr>
								<TR>
							<TD width="100%">
								<fieldset style="height:100%;">
								<legend>采购单信息</legend>
									  <table border="0" cellpadding="2" cellspacing="1" style="width:100%">
									 

									  <tr>
									  <td nowrap align="right" width="15%">采购单号:</td>
									    <td width="35%"><input name='BUYID' type="text" class="text" style="width:154px" th:value="${purchase.getBUYID()}"  readonly />
								        <span class="red">*</span></td>
									    <td nowrap align="right" width="15%">采购数量:</td>
									    <td width="35%"><input name='BUYCOUNT' type="text" class="text" style="width:154px" th:value="${purchase.getBUYCOUNT()}" />
									  </tr>
									   <tr>
									  <td nowrap align="right" width="15%">采购时间:</td>
									    <td width="35%"><input name='DATE' type="text" class="text" style="width:154px" th:value="${#dates.format(purchase.getBUYTIME(), 'yyyy-MM-dd hh:mm:ss')}"/>
								      
									    <td nowrap align="right" width="15%">供应商编号:</td>
									    <td width="35%">
									    
									    <select name="PROVID" style="width:154px">

											   	<option selected th:value="${purchase.getPROVID()}" th:text="${purchase.getPROVID()}"></option>
											<span th:each="provider :${providers}">
												<option th:text ="${provider.getPROVID()}" ></option>
											</span>
										</select>
									  </tr>
									   <tr>

                                           <td nowrap="nowrap" align="right">采购部门:</td>
                                           <td><input  class="text" id="DEPARTID" name='DEPARTID'  style="width:154px" th:value="${purchase.getDEPARTID()}"/>
                                           </td>

									  <td nowrap align="right" width="15%">产品编号:</td>
									    <td width="35%">
								       		<select name="productID" style="width:154px">

											   	<option th:value ="${purchase.getProductID()}" th:text="${purchase.getProductID()}"  selected ></option>

												<span th:each="product :${products}">
												<option th:text="${product.getPRODID()}"></option>
												</span>
											</select>
									    
									  </tr>
									
									  </table>
							  <br />
								</fieldset>			</TD>
							
						</TR>
						

						</TABLE>
					
					
					 </td>
				  </tr>
				  

						<TR>
							<TD colspan="2" align="center" height="50px">
							<input type="submit" name="Submit" value="保存" class="button" onclick="alert('保存成功！');"/>　
							
							<input type="button" name="Submit2" value="返回" class="button" onclick="window.history.go(-1);"/></TD>
						</TR>
						</TABLE>
					
					
					 </td>
				  </tr>
				  
				  
				  
				  </table>
				
				</div>
				</form>

			

        </div>


        <script th:src="@{/assets/js/jquery.min.js}" src="/static/assets/js/jquery.min.js"></script>
        <script th:src="@{/assets/js/amazeui.min.js}" src="/static/assets/js/amazeui.min.js"></script>
        <script th:src="@{/assets/js/iscroll.js}"src="/static/assets/js/iscroll.js"></script>
        <script th:src="@{/assets/js/app.js}" src="/static/assets/js/app.js"></script>
</body>
</html>